
	.menu-container{
		width: 400px;
		height: 80px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	.canvas{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		max-width: 50%;
		background-color: #eee;
	}
	.slider-div{
		width: 280px;
		display: inline-block;
	}
	.button-holder{
		padding: 20px 0 0 20px;
	}
	.my-label{
		display: inline-block;
		width: 100px;
		font-size: 18px;
		text-align: right;
		padding-right: 20px;
	}
	.input{
		width:160px;
		padding: 4px;
		display:inline-block;
		border-radius:4px;
		margin-bottom:10px;
		font-size: 16px; 
		border: 2px solid #ccc;
		box-sizing: border-box;
	}
	.download-container{
		max-width: 90%; 
		margin: auto; 
		width: 800px; 
		text-align: left;
		padding-top: 5px;
	}
	.image_save_div{
		display: none;
		margin: 2px; 
		padding: 0;
		border: 1px solid #ccc;
		width: 192px;
	}
	.saved-image{
		max-width: 190px;
		max-height: 300px;
	}
	.add-button{
		margin: 2px 0 2px 0px;
	}
	.load-button{
		width: 70px;
		background-color: #e8e8e8;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 5px 14px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}
	.load-button:hover {
		background-color: #eee;
	}
	.rotation-input{
		border-radius: 4px;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		padding: 1px;
		width: 44px;
		font-size: 12px;
	}
	
	a:link{
		text-decoration: none;
	}
	a:visited{
		text-decoration: none;
	}	
	.video-link-text{
		font-size: 16px;
	}
	
	
	
	
	
	